<p id="notice"><%= notice %></p>
<div class="container bg-white p-10 border rounded mt-5">

<div class="m-3">


<h1>Kayaks</h1>

<table class="table table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Rate</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @kayaks.each do |kayak| %>
      <tr>
        <td><%= kayak.model %></td>
        <td><%= kayak.capacity %></td>
        <td>$<%= kayak.rate %>/day</td>
        <td><%= kayak.description %></td>
          <!-- <td><%= link_to 'Show', kayak %></td>
          <td><%= link_to 'Edit', edit_kayak_path(kayak) %></td>
           <td><%= link_to 'Destroy', kayak, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
  <!-- <%= link_to 'New Kayak', new_kayak_path %>-->
