<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kayak.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @kayak.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @kayak.capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kayak.price %>
</p>

<%= link_to 'Edit', edit_kayak_path(@kayak) %> |
<%= link_to 'Back', kayaks_path %>
