<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @kayak.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kayak.description %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @kayak.capacity %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @kayak.rate %>
</p>

<%= link_to 'Edit', edit_kayak_path(@kayak) %> |
<%= link_to 'Back', kayaks_path %>
